<BODY>
        <H1>Feedback on Your Design</H1>

        <DIV class='lessontask'>
                <P>
 To get the feedback that has been posted on your design push the UPDATE button.  
 Any feedback that is then available will be shown below.                       
                </P>
        </DIV>
        <DIV class='lessoninput'>
                <BR>
                <INPUT id='feedbackrequest' type='button' value="UPDATE" />
                <BR>
                <A href='/lessons'>Finished With Feedback</A>
        </DIV>
        <DIV class='lessondata'>
          <H2>Feedback:</H2>  
          <DIV class='feedbackdata' id='feedbacktext'></DIV>   
        </DIV>

<SCRIPT>

 $(function() {
    $("#feedbackrequest").click(evt => { handleFeedbackRequest('{{lesson_id}}','feedbacktext'); } );   
 });   

</SCRIPT>        
</BODY>
