<!DOCTYPE html>
<HTML>
<HEAD>
   <META charset='UTF-8'>
   <TITLE> {{title}} </TITLE>
   <LINK href='/static/wail.css' rel='stylesheet' type='text/css'/>
   <SCRIPT src='//code.jquery.com/jquery-2.0.3.min.js'></SCRIPT>
   <SCRIPT src='/static/wail.js'></SCRIPT>
   <SCRIPT src='/static/sjcl.js'></SCRIPT>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
   <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
</HEAD>

{{{body}}}


</HTML>
